.container-padded {
    padding-top: 50px;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.bxslider-unshifted {
    margin: 0;
    padding: 0;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -ms-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 0;
    left: -5px;
    background: #fff;
    margin-bottom: 0 !important;
}