@model Domain.Entities.Avatar

<a class="floating ui yellow circular label bordered-tag"  id="money-tag">@Html.DisplayFor(m => m.Price)</a>
<div class="ui middle aligned content blurring dimmable image unbordered-card-image">
    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <button class="ui inverted button">Unlock Avatar</button>
            </div>
        </div>
    </div>
    <img src="@Model.Media.AdditionalPath" class="centered-image">
</div>

