@using System.Security.Claims
@using Microsoft.AspNet.Http
<!DOCTYPE html>
<html class="unpadded">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Growth Pad</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/lib/semantic/dist/components/calendar.css" />
        <link rel="stylesheet" href="~/assets/css/site.min.css" />
        <link rel="stylesheet" href="~/lib/bxslider/jquery.bxslider.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/assets/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bxslider/jquery.bxslider.css" asp-append-version="true" />
    </environment>
</head>
<body class="unpadded">
    <div class="ui top fixed inverted menu">
        <div class="header item">
            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>TODO: Make mobile adaptation*@
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Growth Pad</a>
        </div>
        <div class="ui inverted menu">
            <a asp-controller="Home" asp-action="Index" class="item">Home</a>
            @if (User.IsInRole("Coach"))
            {
                <a asp-controller="Registration" asp-action="StepOne" class="item">Register family</a>
            }
        </div>
        <div class="right menu">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
           
    <div id="sidebar">

    </div>

    <div id="wrapper">
        <div id="content" class="fluid container container-padded">
            @await Html.PartialAsync("_TempMessages")
            @RenderBody()
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/semantic/dist/components/calendar.js"></script>
        <script src="~/assets/js/site.js"></script>
        <script src="~/lib/bxslider/jquery.bxslider.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/semantic/semantic-ui/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>
        <script src="~/assets/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bxslider/jquery.bxslider.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
    <script>
        $.get("@Url.Action("SidebarMenu", "Account")",
            function (data) {
                jQuery("#sidebar").html(data);
            });

        jQuery(document).ready(function ($) {
            $(".close.icon").click(function () {
                $(this).parent().transition();
            });
        });

        jQuery('#percent')
            .progress({
                percent: 100
            });
    </script>
</body>
</html>