@if (TempData["error"] != null)
{
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            <i class="icon warning circle"></i>Sorry! Something went wrong..
        </div>
        <p>
            @TempData["error"]
        </p>
    </div>
}
@if (TempData["warn"] != null)
{
    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">
            <i class="icon warning sign"></i>Something happened
        </div>
        <p>
            @TempData["warn"]
        </p>
    </div>
}
@if (TempData["msg"] != null)
{
    <div class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
            <i class="announcement icon"></i>@TempData["msg"]
        </div>
    </div>
}