@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@*<div style="float: left">
        <a asp-action="Index" class="ui button large basic labeled icon">
            <i class="left arrow icon"></i>
            Back
        </a>
    </div>*@

<div class="ui text container">
    @if (User.IsInRole("Participant"))
    {
        <div class="ui top attached tabular menu three buttons">
            <a asp-action="EditPersonalInformation" class="item button">Personal information</a>
            <a asp-controller="Manage" asp-action="ChangePassword" class="ui fluid active button">Password</a>
            <a asp-action="ChangeAvatar" class="ui fluid basic button">Avatar</a>
        </div>
    }
    else
    {
        <div class="ui top attached tabular menu two buttons">
            <a asp-action="EditPersonalInformation" class="ui fluid basic button">Personal information</a>
            <a asp-controller="Manage" asp-action="ChangePassword" class="ui fluid active button">Password</a>
        </div>
    }
    <h2 class="ui header center aligned attached">Change your password</h2>
    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="ui form bottom attached segment" role="form">
        <div asp-validation-summary="ValidationSummary.All" class="text red"></div>
        <div class="field">
            <label asp-for="OldPassword"></label>
            <div class="ui input">
                <input asp-for="OldPassword" />
            </div>
            <span asp-validation-for="OldPassword" class="text red"></span>
        </div>

        <div class="fields">
            <div class="field eight wide">
                <label asp-for="NewPassword"></label>
                <div class="ui input">
                    <input asp-for="NewPassword" />
                </div>
                <span asp-validation-for="NewPassword" class="text red"></span>
            </div>
            <div class="field eight wide">
                <label asp-for="ConfirmPassword"></label>
                <div class="ui input">
                    <input asp-for="ConfirmPassword" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text red"></span>
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="field">
            <button type="submit" class="ui button green fluid">Change password</button>
        </div>
    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
