@model List<Domain.Entities.Avatar>
@{
    ViewBag.Title = "Management | New avatar";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="ui text container">
    <form class="ui form segment attached" id="userForm">
        <div class="ui grid">
            <div class="twelve wide centered column" id="avatar-img">
                <ul class="ui bxslider centered aligned bxslider-unshifted">
                    @foreach (var avatar in Model)
                    {
                        <li id=@avatar.AvatarId>
                            <img src=@avatar.Media.MainPath alt="Avatar ID: @avatar.AvatarId" class="img-centered"/>
                        </li>
                    }
                </ul>
            </div>
            <div class="row">
                <div class="column">
                    <input type="button" value="Choose avatar" class="ui button blue fluid" id="submitUser" />
                </div>
            </div>
        </div>
    </form>
    <div class="ui page dimmer" id="page-dimmer">
        <div class="ui text loader">Loading</div>
    </div>
    <div id="successMessage" class="ui segment attached">
        <div class="ui divider hidden"></div>
        <h1 class="ui header center aligned">Your avatar was succesfully chosen!</h1>
        <div class="ui divider hidden"></div>
        <div class="ui text right aligned">
            <a asp-controller="Home" asp-action="Index" class="ui blue button large basic labeled icon">
                Continue to main page.
                <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.bxslider')
                .bxSlider({
                    mode: 'fade',
                    pagerCustom: '#bx-pager',
                    adaptiveHeight: true,
                    slideWidth: 400,
                    useCSS: true,
                    touchEnabled: true,
                    pager: true,
                    pagerType: 'short'
                    //infiniteLoop: false
                });
            $('.bx-wrapper').css('margin-bottom', '0');
        });
        $("#successMessage").hide(0);
        $("#submitUser").click(function () {
            if ($("#userForm").valid()) {
                var data = $("li:visible").attr('id');
                $('#page-dimmer').addClass('active');
                $.post({
                    url: "/Manage/ChangeAvatar",
                    data: { avatarId: data },
                    success: function () {
                        $('#page-dimmer').removeClass('active');
                        $("#userForm").hide();
                        $("#successMessage").show();
                    }
                }).fail(function () {
                    $('#page-dimmer').removeClass('active');
                    alert("Something went wrong..\nPlease repeat the choice!");
                    $("#userForm").show();
                });
                return true;
            } else {
                return false;
            }
            return true;
        });
    </script>
}
