@using WebUI.ViewModels.Manage
@model WebUI.ViewModels.Manage.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2 class="ui header bottom attached center aligned">Change your account settings</h2>
<div class="ui text container attached">
    @if (ViewData["StatusMessage"] != null && ViewData["StatusMessage"]?.ToString() != "")
    {
        <div class="ui info message large">
            <i class="close icon"></i>
            <div class="header">
                @ViewData["StatusMessage"]
            </div>
        </div>
    }
    <div class="ui fields">
        <div class="field eight wide">
            <a asp-action="EditPersonalInformation" class="ui button">Edit personal information</a>
        </div>
        <div class="field eight wide">
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="ui button blue">Change password</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="ui button green">Create password</a>
            }
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $('.message .close')
          .on('click', function () {
              $(this)
                .closest('.message')
                .transition('fade')
              ;
          });
    </script>
}
