@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<div class="ui text container">
    <h2 class="ui header top attached center aligned">Manage your account</h2>
    <div class="ui text attached container segment center aligned">
        @if (ViewData["StatusMessage"] != null && ViewData["StatusMessage"]?.ToString() != "")
            {
            <div class="ui info message large">
                <i class="close icon"></i>
                <div class="header">
                    @ViewData["StatusMessage"]
                </div>
            </div>
        }
        @if (User.IsInRole("Participant"))
        {
            <div class="ui top attached tabular menu three buttons">
                <a asp-action="EditPersonalInformation" class="ui fluid basic button">Personal information</a>
                @if (Model.HasPassword)
                {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="ui fluid basic button">Password</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="ui fluid basic button">Create password</a>
                }
                <a asp-action="ChangeAvatar" class="ui fluid basic button">Avatar</a>
            </div>
        }
        else
        {
            <div class="ui top attached tabular menu two buttons">
                <a asp-action="EditPersonalInformation" class="ui fluid basic button">Personal information</a>
                @if (Model.HasPassword)
                {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="ui fluid basic button">Password</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="ui fluid basic button">Create password</a>
                }
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $('.message .close')
          .on('click', function () {
              $(this)
                .closest('.message')
                .transition('fade')
              ;
          });
    </script>
}
