@using WebUI.ViewModels.Manage
@model WebUI.ViewModels.Manage.SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="ui text container">
    <div class="ui warning message">
        <i class="close icon"></i>
        <p>
            You do not have a local username/password for this site. Add a local
            account so you can log in without an external login.
        </p>
    </div>

    <h2 class="ui header center aligned attached">Set your password</h2>
    <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui form top attached segment" role="form">
        <div asp-validation-summary="ValidationSummary.All" class="text red"></div>
        <div class="field">
            <label asp-for="NewPassword"></label>
            <div class="ui input">
                <input asp-for="NewPassword"/>
            </div>
            <span asp-validation-for="NewPassword" class="text red"></span>
        </div>
        <div class="field">
            <label asp-for="ConfirmPassword"></label>
            <div class="ui input">
                <input asp-for="ConfirmPassword"/>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="field">
            <button type="submit" class="ui button blue fluid">Set password</button>
        </div>
    </form>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script>
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
        </script>
    }
