@model WebUI.ViewModels.Registration.FamilyViewModel

<h2 class="ui top attached center aligned header">General information</h2>
<div class="ui attached segment">
    <input asp-for="FamilyName" type="hidden"/>
    <input asp-for="FamilyId" type="hidden" />
    <div class="fields">
        <div class="field eight wide">
            <label asp-for="ZipCode">Zip Code</label>
            <div class="ui corner labeled input">
                <input asp-for="ZipCode" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="ZipCode"></span>
        </div>
        <div class="field eight wide">
            <label asp-for="Country"></label>
            <div class="ui corner labeled input">
                <input asp-for="Country" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="Country"></span>
        </div>
    </div>
    <div class="fields">
        <div class="field eight wide">
            <label asp-for="Region"></label>
            <div class="ui corner labeled input">
                <input asp-for="Region" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="Region"></span>
        </div>
        <div class="field eight wide">
            <label asp-for="City"></label>
            <div class="ui corner labeled input">
                <input asp-for="City" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="City"></span>
        </div>
    </div>
    <div class="fields">
        <div class="field eight wide">
            <label asp-for="Street"></label>
            <div class="ui corner labeled input">
                <input asp-for="Street" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="Street"></span>
        </div>
        <div class="field eight wide">
            <label asp-for="BuildingNumber">Building Number</label>
            <div class="ui corner labeled input">
                <input asp-for="BuildingNumber" />
                <div class="ui corner label">
                    <i class="asterisk icon red"></i>
                </div>
            </div>
            <span asp-validation-for="BuildingNumber"></span>
        </div>
    </div>
</div>
<h2 class="ui attached header">Members count</h2>
<div class="ui large buttons bottom attached">
    <button type="button" class="ui button" id="removeUser"><i class="icon remove user"></i>Less</button>
    <button type="button" class="ui button gray disabled" id="usersCount"></button>
    <button type="button" class="ui green button" id="addUser"><i class="icon add user"></i>More</button>
</div>
