@model WebUI.ViewModels.FamRegistration.MainUserData

<div class="inputField">
    <div>
        <input asp-for="FName" placeholder="First name" />
    </div>
    <div>
        <input asp-for="SName" placeholder="Second name" />
    </div>
    <div>
        <input asp-for="Age" placeholder="Age"/>
    </div>
    <div>
        <select asp-for="Gender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <option value="UNKNOWN">Unknown</option>
            <option value="OTHER">Other</option>
            <option value="NONE">None</option>
        </select>
        <select asp-for="Status">
            <option value="Husband">Husband</option>
            <option value="Wife">Wife</option>
            <option value="Child">Child</option>
        </select>
    </div>
    <div>
        Responsible for the list
        <input type="radio" value="head" name="head"/>
    </div>
    <div style="display: none">
        <input asp-for="Email" placeholder="Email"/>
    </div>
    <input type="hidden" name="d" value="1"/>
    <button style="visibility: hidden" id="delResp">Remove member</button>
</div>




