@model System.Collections.Generic.List<WebUI.ViewModels.FamRegistration.MainUserData>

<h3>Family registrated successfully</h3>

@foreach (var m in Model)
{
    <div>
        Name: @m.FName
        Age: @m.Age
        IsHead: @m.IsHead
    </div>
}