@using System.Threading.Tasks
@model WebUI.ViewModels.Registration.FamilyViewModel
@{
    ViewBag.Title = "Registration | Step Two";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="ui text container">
    <div class="ui steps top attached center aligned">
        <div class="step">
            <div class="content">
                <div class="title">Step 1</div>
                <div class="description">Create new family</div>
            </div>
        </div>
        <div class="active step">
            <div class="content">
                <div class="title">Step 2</div>
                <div class="description">Enter information about family members</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Step 3</div>
                <div class="description">Choose an avatar</div>
            </div>
        </div>
    </div>

    <div class="ui form" id="regForm">
        <form asp-controller="Registration" asp-action="StepTwo" class="ui form segment" id="form">
            <div>
                <div id="fieldsAppender">
                    @{ await Html.RenderPartialAsync("_FamilyDetails", Model); }
                </div>

                <div class="row">
                    <div class="ui three column grid">
                        <div class="row">
                            <div class="column">
                                <input type="reset" value="Reset" class="ui button fluid"/>
                            </div>
                            <div class="column">
                                <input type="button" value="Next" class="ui button blue fluid" id="submitButton"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui page dimmer" id="page-dimmer">
        <div class="ui text loader">Loading</div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var userCount = 1;
        var currentUser = 0;
        var regVm = { Users: [] };
        $("#usersCount").text(userCount);

        $("#submitButton").click(function () {
            if ($("#form").valid()) {
                if (currentUser == 0) {
                    $.each($("#form").serializeArray(), function (i, field) {
                        regVm[field.name] = field.value;
                    });

                    $.post({
                        url: "/Registration/RegistrationForm",
                        success: function (data) {
                            $('#fieldsAppender').empty();
                            $('#fieldsAppender').append(data);
                            currentUser++;
                        }
                    });
                }
                else if (currentUser > 0 && currentUser < userCount) {
                    var data = {};
                    $.each($("#form").serializeArray(), function (i, field) {
                        data[field.name] = field.value;
                    });
                    regVm.Users.push(data);

                    $("#form")[0].reset();

                    if (currentUser == userCount - 1) {
                        $('#submitButton').val("To step 3");
                    }

                    currentUser++;
                }
                else if (currentUser == userCount) {
                    $('#page-dimmer').addClass('active');

                    var data = {};
                    $.each($("#form").serializeArray(), function (i, field) {
                        data[field.name] = field.value;
                    });
                    regVm.Users.push(data);

                    $.post({
                        url: "/Registration/StepTwo",
                        data: regVm
                    });
                }
            }
            else {
                return false;
            }
        });

        $('#removeUser').click(function() {
            if (userCount < 2)
                return false;
            else {
                userCount--;
                $('#usersCount').text(userCount);
            }
        });

        $('#addUser').click(function() {
            userCount++;
            $('#usersCount').text(userCount);
        });
    </script>
}    