@using System.Threading.Tasks
@using System.Web.ModelBinding
@using WebUI.ViewModels.Registration
@model WebUI.ViewModels.Registration.FamilyViewModel
@{
    ViewBag.Title = "Registration | Step Two";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="ui text container">
    <div class="ui steps top attached center aligned">
        <div class="step">
            <div class="content">
                <div class="title">Step 1</div>
                <div class="description">Create new family</div>
            </div>
        </div>
        <div class="active step">
            <div class="content">
                <div class="title">Step 2</div>
                <div class="description">Enter information about family members</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Step 3</div>
                <div class="description">Choose an avatar</div>
            </div>
        </div>
    </div>

    <div class="ui attached segment" id="content">
        <div class="ui page dimmer" id="page-dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="ui form" id="regForm">
            <h2 class="ui center aligned header">General information about @Model.FamilyName family</h2>
            <form asp-controller="Registration" asp-action="StepTwo" class="ui form segment">
                <div>
                    <div>
                        <input asp-for="FamilyName" type="hidden" />
                        <div class="field">
                            <label asp-for="ZipCode">Zip Code</label>
                            <div class="ui corner labeled input">
                                <input asp-for="ZipCode" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="ZipCode"></span>
                        </div>
                        <div class="field">
                            <label asp-for="Country"></label>
                            <div class="ui corner labeled input">
                                <input asp-for="Country" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Country"></span>
                        </div>
                        <div class="field">
                            <label asp-for="Region"></label>
                            <div class="ui corner labeled input">
                                <input asp-for="Region" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Region"></span>
                        </div>
                        <div class="field">
                            <label asp-for="City"></label>
                            <div class="ui corner labeled input">
                                <input asp-for="City" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="City"></span>
                        </div>
                        <div class="field">
                            <label asp-for="Street"></label>
                            <div class="ui corner labeled input">
                                <input asp-for="Street" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Street"></span>
                        </div>
                        <div class="field">
                            <label asp-for="BuildingNumber">Building Number</label>
                            <div class="ui corner labeled input">
                                <input asp-for="BuildingNumber" type="number" />
                                <div class="ui corner label">
                                    <i class="asterisk icon red"></i>
                                </div>
                            </div>
                            <span asp-validation-for="BuildingNumber"></span>
                        </div>
                    </div>

                    <div class="ui hidden divider"></div>

                    <h2 class="ui header center aligned">Personal data for user</h2>
                    @foreach (var user in Model.Users)
                    {
                        await Html.RenderPartialAsync("_StepTwoForm", new UserViewModel { Index = 0, LastName = Model.FamilyName });
                    }

                    <div id="fieldsAppender"></div>
                    <div class="ui hidden divider"></div>

                    <div class="row">
                        <div class="ui three column grid">
                            <div class="row">
                                <div class="column">
                                    <input type="reset" value="Reset" class="ui button fluid" />
                                </div>
                                <div class="column">
                                    <button type="button" class="addUser ui button green fluid">Add new member</button>
                                </div>
                                <div class="column">
                                    <input type="submit" value="Submit" class="ui button blue fluid" id="submitButton" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        this.FormIndexer = 1;
        $('#loadingSpinner').hide();
        $('#waitingPost').hide();

        $('.addUser').click(function () {
            $.post({
                url: "/Registration/RegistrationForm",
                data: { index: FormIndexer, lastName: "@Model.FamilyName" },
                success: function (data) {
                    $('#fieldsAppender').append(data);
                    $('#loadingSpinner').hide();
                    FormIndexer++;
                }
            });
        });

        $('#submitButton').click(function () {
            if (!$("form").valid()) {
                return false;
            } else {
                $('form').submit();
                $('#page-dimmer').addClass('active');
            }
        });
    </script>
}    