@using System.Threading.Tasks
@using System.Web.ModelBinding
@using WebUI.ViewModels.Registration
@model WebUI.ViewModels.Registration.FamilyViewModel
@{
    ViewBag.Title = "Registration | Step Two";
}

<div>
    <div>
        <h3>Profile creation</h3>
        Please enter full data about you and your family
        <form asp-controller="Registration" asp-action="StepTwo">
            <div>
                <div>
                    <h3>Info about @Model.FamilyName family</h3>
                    <div>
                        <label asp-for="FamilyName"></label>
                        <label>@Model.FamilyName</label>
                    </div>
                    <div>
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" />
                    </div>
                    <div>
                        <label asp-for="Country"></label>
                        <input asp-for="Country" />
                    </div>
                    <div>
                        <label asp-for="Region"></label>
                        <input asp-for="Region" />
                    </div>
                    <div>
                        <label asp-for="City"></label>
                        <input asp-for="City" />
                    </div>
                    <div>
                        <label asp-for="Street"></label>
                        <input asp-for="Street" />
                    </div>
                    <div>
                        <label asp-for="BuildingNumber"></label>
                        <input asp-for="BuildingNumber" />
                    </div>
                </div>
                <hr />

                <div>
                    <button type="button" class="addUser">+Add</button>
                </div>

                @foreach (var user in Model.Users)
                {
                    await Html.RenderPartialAsync("_StepTwoForm", new UserViewModel { Index = 0 });
                }

                <div id="loadingSpinner">loading..</div>
                <div id="fieldsAppender"></div>

                <div>
                    <div>
                        <input type="reset" value="Reset" />
                    </div>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        this.FormIndexer = 1;
        $('#loadingSpinner').hide();
        $('#waitingPost').hide();

        $('.addUser').click(function() {
            $('#loadingSpinner').show();

            $.ajax({
                url: "/Registration/RegistrationForm",
                method: "POST",
                data: "index=" + FormIndexer,
                success: function(data) {
                    $('#fieldsAppender').append(data);
                    $('#loadingSpinner').hide();
                    FormIndexer++;
                }
            });
        });


        $('form').submit(function(form) {
            /* Validate form */

            $('#waitingPost').show();
        });
    </script>
}    