@{
    ViewBag.Title = "Registration | Step One";
}

<div id="content">
    <div id="regForm">
        <div id="addField">
            <h3>New family member</h3>
            <div>
                <button class="addFieldButton">+ Add</button>
            </div>

            <h3>Family members</h3>

            <form>
                <div id="loadingSpinner">loading..</div>

                <div id="fieldsAppender"></div>

                <div id="buttons">
                    <div style="float: left">
                        <button type="reset">Reset</button>
                    </div>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </form>

            <div id="waitingPost">Posting..</div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#loadingSpinner').hide();
        $('#waitingPost').hide();

        $('.addFieldButton').click(function() {
            $('#loadingSpinner').show();
            
            $.ajax({
                url: "/Registration/RegistrationForm",
                method: "POST",
                success: function(data) {
                    $('#fieldsAppender').append(data);
                    $('#loadingSpinner').hide();
                }
            });
        });

        $('form').submit(function (form) {
            form.preventDefault();

            /* Validate form */

            var heads = document.getElementsByName('head');
            if (heads.length != 0) return;

            //

            $('#waitingPost').show();

            var regVm = [];
            var data = $('form').serializeArray();
            var obj = {};
            $.each(data, function(i, input) {
                if (input.name == "d" && input.value == "1") {
                    regVm.push(obj);
                    obj = {};
                } if (input.name == "head") {
                    obj["IsHead"] = true;
                } else {
                    obj[input.name] = input.value;
                }
            });

            $.ajax({
                type: "POST",
                url: '/Registration/StepOne',
                data: JSON.stringify(regVm),
                contentType: "application/json",
                success: function(data) {
                    $('#addField').replaceWith(data);
                }
            }).fail(function () {
                    $('#waitingPost').hide();
                    alert("Connection failed..");
                });
        });
    </script>
}