@model WebUI.ViewModels.Registration.MainFamilyData
@{
    ViewBag.Title = "Registration | Step One";
}

<div id="content">
    <div id="regForm">
        <h3>New family</h3>

        <form asp-controller="Registration" asp-action="StepOne">
            <h3>Family members</h3>

            <div>
                <label asp-for="FamilyName"></label>
                <input asp-for="FamilyName"/>
            </div>
            <div>
                <label asp-for="HeadEmail"></label>
                <input asp-for="HeadEmail"/>
            </div>
            <div>
                <label asp-for="FamilyType"></label>
                <select asp-for="FamilyType">
                    <option value="MARRIED">Married</option>
                    <option value="UNMARRIED">Unmarried</option>
                    <option value="DIVORCED">Divorced</option>
                </select>
            </div>

            <div id="buttons">
                <div>
                    <input type="reset" value="Reset"/>
                </div>
                <div>
                    <input type="submit" value="Submit" />
                </div>
            </div>
        </form>

        <div id="waitingPost">Posting..</div>
    </div>
</div>

@section Scripts{
    @*<script>
        $('#loadingSpinner').hide();
        $('#waitingPost').hide();

        $('.addFieldButton').click(function() {
            $('#loadingSpinner').show();
            
            $.ajax({
                url: "/Registration/RegistrationForm",
                method: "POST",
                success: function(data) {
                    $('#fieldsAppender').append(data);
                    $('#loadingSpinner').hide();
                }
            });
        });

        $('form').submit(function (form) {
            form.preventDefault();

            /* Validate form */

            var heads = document.getElementsByName('head');
            if (heads.length == 0) return;

            //

            $('#waitingPost').show();

            var regVm = [];
            var data = $('form').serializeArray();
            var obj = {};
            $.each(data, function(i, input) {
                if (input.name == "d" && input.value == "1") {
                    regVm.push(obj);
                    obj = {};
                } if (input.name == "head") {
                    obj["IsHead"] = true;
                } else {
                    obj[input.name] = input.value;
                }
            });

            $.ajax({
                type: "POST",
                url: '/Registration/StepOne',
                data: JSON.stringify(regVm),
                contentType: "application/json",
                success: function(data) {
                    $('#addField').replaceWith(data);
                }
            }).fail(function () {
                    $('#waitingPost').hide();
                    alert("Connection failed..");
                });
        });
    </script>*@
}