@{
    ViewBag.Title = "Registration | Step One";
}

<div id="content">
    
</div>

@section Scripts{
    @*TODO: download a production version of the React.js*@
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="@Url.Content("~/Scripts/Registration.jsx")" type="text/javascript"></script>
}